#search {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  margin-right: .4rem;
}

#search:focus {
  border-color: #007bff;
}
.searchcontainer {
  display: flex;
  flex-direction: row;
  margin-right: .5rem;
  align-items: center;
}
