<div class="container">
  <span *ngIf="tryLogin$ | async"></span>
  <h2 class="log">Login</h2>
  <mat-dialog-content>
  <div class="login">
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="loginDto.email" name="email" type="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="loginDto.password" type="password" name="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div class="actions">
    <div class="logButo">
      <button mat-raised-button matDialogClose >Cancel</button>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
    <div class="regButo">
      <button mat-raised-button color="primary" (click)="register()">Registrieren</button>
    </div>
  </div>

</mat-dialog-actions>
</div>
