
.log {
  text-align: center;
  color: #398dbd;
}

.container {
  background: linear-gradient(to right, #b9d6d2 50%, #eecac6 50%);
}
mat-dialog-content {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.actions {
  display: flex;
  flex-direction: column;
  justify-items: center;
  .logButo {
    display: flex;
    width: 100%;
   gap: .5rem;
   margin-bottom: .5rem;
  }
}
