<div class="container">
  <h1 matDialogTitle>Kennwort Ändern</h1>

  <mat-dialog-content>
    <div class="changePass">
      <form [formGroup]="passForm" >
        <mat-form-field>
          <mat-label>Alt Password</mat-label>
          <input type="text" name="altPassword" id="altPassword" matInput  formControlName="altePassword" required minlength="5">
          <mat-error *ngIf="passForm.controls['altePassword'].hasError('required') ">Du musst allte Password eingeben</mat-error>
          <mat-error *ngIf="passForm.controls['altePassword'].hasError('minlength') ">Minimum 5 zeichen</mat-error>
          <mat-icon>password</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="text" name="newPassword" id="newPassword" matInput formControlName="newPassword" required minlength="5">
          <mat-icon>password</mat-icon>
          <mat-error *ngIf="passForm.controls['newPassword'].hasError('required', 'newPassword') ">Du musst neue Password eingeben</mat-error>
          <mat-error *ngIf="passForm.controls['newPassword'].hasError('minlength') ">Minimum 5 zeichen</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password wiederholen</mat-label>
          <input type="text" name="passWiderholung" id="passWiderholung" matInput formControlName="passWiderholung" required minlength="5" [errorStateMatcher]="passMatcher">
          <mat-icon>password</mat-icon>
          <mat-error *ngIf="passForm.controls['passWiderholung'].hasError('required') ">Das muss das neue Password wiederholen</mat-error>
          <mat-error *ngIf="passForm.controls['passWiderholung'].hasError('minlength') ">Minimum 5 zeichen</mat-error>
        </mat-form-field>
        <mat-error *ngIf="passForm.hasError('notSame')">  Neue Password ist nicht gleich Passwiderholung </mat-error>
      </form>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
      <button mat-button (click)="abbrechen()">Abbrechen</button>
      <button mat-raised-button color="primary" *ngIf="passForm.valid" (click)="passwordSpeichern()" >Passwort Speichern</button>
      <span *ngIf="save$ | async">
        Saving....
      </span>
      <button mat-raised-button color="primary" type="submit" *ngIf="passForm.invalid" [disabled]="passForm.invalid" >Passwort Speichern</button>
  </mat-dialog-actions>
</div>
