
<mat-toolbar>
   <mat-toolbar-row>
    <div class="men" >
      <mat-icon>child_friendly</mat-icon>
      <span class="catReset" (click)="showItemsInCategory(-1)">Spiel und Spaß für kleine Helden - bei uns im Kinderladen!</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <div  *ngIf="isLogged$ | async else notLogged">
        <button mat-icon-button (click)="goToUser()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Strona Główna</span>
        </button>
        <button mat-menu-item>
          <mat-icon>feedback</mat-icon>
          <span>Kontakt</span>
        </button>
        <button mat-menu-item>
          <mat-icon>help_outline</mat-icon>
          <span>Pomoc</span>
        </button>
        <div *ngIf="role$ | async as role">
          <button mat-menu-item *ngIf="role === 'admin'"  (click)="goToAdmin()">
            <mat-icon>help_outline</mat-icon>
            <span>Admin</span>
          </button>
        </div>

      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
   </mat-toolbar-row>
   <mat-toolbar-row>
    <div  *ngIf="!isInUserProfil && !isInAdmin" class="category">
      <div *ngIf="categories$ | async as cat else loading" class="category">
          <div  *ngFor="let item of cat "><button mat-stroked-button color="primary" (click)="showItemsInCategory(item.id)">{{item.name}}</button></div>
          <div *ngIf="role$ | async as role">
            <div *ngIf="role === 'admin'"><button mat-stroked-button color="primary" (click)="goToAdmin()"> Admin</button></div>
        </div>
      </div>
    </div>
    <div class="category" *ngIf="isInUserProfil">
      <div ><button mat-stroked-button color="primary">Bestellungen</button></div>
      <div ><button mat-stroked-button color="primary">Rechnungen</button></div>
      <div ><button mat-stroked-button color="primary" (click)="goEinkaufen()">Züruck zum Einkaufen</button></div>
      <div *ngIf="role$ | async as role">
        <div *ngIf="role === 'admin'"><button mat-stroked-button color="primary" (click)="goToAdmin()"> Admin</button></div>
      </div>
    </div>
    <div class="category" *ngIf="isInAdmin">
      <div ><button mat-stroked-button color="primary" routerLink="categories">Categories</button></div>
      <div ><button mat-stroked-button color="primary" routerLink="artikels">Artikels</button></div>
      <div ><button mat-stroked-button color="primary" (click)="goEinkaufen()">Züruck zum Einkaufen</button></div>
    </div>
    <div class="searchpanel">
      <app-searchpanel></app-searchpanel>
    </div>
   </mat-toolbar-row>
  </mat-toolbar>
  <div class="banner_container">
    <div class="banner"></div>
  </div>
  <ng-template #notLogged>
    <button mat-icon-button (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<router-outlet></router-outlet>
