<mat-toolbar>
   <mat-toolbar-row>
    <div class="men" >
      <mat-icon>child_friendly</mat-icon>
      <span>Sklep Dziecięcy</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <div  *ngIf="isLogged$ | async else notLogged">
        <button mat-icon-button (click)="goToUser()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Strona Główna</span>
        </button>
        <button mat-menu-item>
          <mat-icon>feedback</mat-icon>
          <span>Kontakt</span>
        </button>
        <button mat-menu-item>
          <mat-icon>help_outline</mat-icon>
          <span>Pomoc</span>
        </button>
        <div *ngIf="role$ | async as role">
          <button mat-menu-item *ngIf="role === 'admin'"  (click)="goToAdmin()">
            <mat-icon>help_outline</mat-icon>
            <span>Admin</span>
          </button>
        </div>

      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
   </mat-toolbar-row>
   <mat-toolbar-row>
    <div class="category" *ngIf="!isInUserProfil && !isInAdmin">

        <div class="catitem" *ngFor="let item of (categories$ | async)"><button mat-stroked-button (click)="showItemsInCategory(item.id)">{{item.name}}</button></div>

      <div *ngIf="role$ | async as role">
      <div class="catitem" *ngIf="role === 'admin'"><button mat-stroked-button (click)="goToAdmin()"> Admin</button></div>
      </div>
    </div>
    <div class="category" *ngIf="isInUserProfil">
      <div class="catitem"><button mat-stroked-button>Passwort ändern</button></div>
      <div class="catitem"><button mat-stroked-button>Bestellungen</button></div>
      <div class="catitem"><button mat-stroked-button>Rechnungen</button></div>
      <div class="catitem"><button mat-stroked-button (click)="goEinkaufen()">Züruck zum Einkaufen</button></div>
      <div *ngIf="role$ | async as role">
        <div class="catitem" *ngIf="role === 'admin'"><button mat-stroked-button (click)="goToAdmin()"> Admin</button></div>
        </div>
    </div>
    <div class="category" *ngIf="isInAdmin">
      <div class="catitem"><button mat-stroked-button routerLink="categories">Categories</button></div>
      <div class="catitem"><button mat-stroked-button routerLink="artikels">Artikels</button></div>
      <div class="catitem"><button mat-stroked-button (click)="goEinkaufen()">Züruck zum Einkaufen</button></div>
    </div>
   </mat-toolbar-row>
  </mat-toolbar>
  <div class="banner_container">
    <div class="banner"></div>
  </div>
  <ng-template #notLogged>
    <button mat-icon-button (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
  <app-loader *ngIf="isLoading$ | async"></app-loader>
<router-outlet></router-outlet>
