<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="men">
        <h4> Artikel hinzufügen/bearbeiten</h4>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
<form [formGroup]="form" class="artikel">
  <div mat-dialog-content>
    <div class="form-container">
      <div class="form-row">
        <div class="form-image" *ngIf="!form.get('images')?.getRawValue()">
          <div *ngIf="fullImage$ | async as image">
            <img [src]="image" width="500px" height="500px"
            alt="Place image title">
          </div>
        </div>
        <div class="form-image" *ngIf="form.get('images')?.getRawValue()">
          <div *ngIf="fullImage$ | async as image else bildLoading">
            <img [src]="image" width="500px" height="500px"
            alt="Place image title">
          </div>
        </div>
        <div class="form-nameBesch">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
            <mat-label>Name</mat-label>
            <mat-error *ngIf="form.get('name')?.hasError('required')">Name ist erforderlich</mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Beschreibung" formControlName="description"></textarea>
            <mat-label>Beschreibung</mat-label>
            <mat-error *ngIf="form.get('description')?.hasError('required')">Beschreibung ist erforderlich</mat-error>
          </mat-form-field>

            <mat-form-field *ngIf="liferanten$ | async as lifernat" >
              <mat-label>Liferant</mat-label>
              <mat-select formControlName="liferant">
                <mat-option *ngFor="let item of lifernat" [value]="item.id" >{{item.kreditorenname}}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('liferant')?.hasError('required')">Lifernat ist erforderlich</mat-error>
            </mat-form-field>

        </div>
      </div>
      <div class="form-row">
        <mat-form-field>
          <input type="number" matInput placeholder="Preis" formControlName="price" required>
          <mat-label>Preis</mat-label>
          <mat-error *ngIf="form.get('price')?.hasError('required')">Preis ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="MwSt" formControlName="mwst">
          <mat-label>Mehrwertsteuer</mat-label>
          <mat-error *ngIf="form.get('mwst')?.hasError('required')">Mehrwertsteuer ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Marke" formControlName="brand">
          <mat-label>Marke</mat-label>
          <mat-error *ngIf="form.get('brand')?.hasError('required')">Marke ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Modell" formControlName="model">
          <mat-label>Modell</mat-label>
          <mat-error *ngIf="form.get('model')?.hasError('required')">Modell ist erforderlich</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field>
          <input matInput placeholder="SKU" formControlName="sku">
          <mat-label>SKU</mat-label>
          <mat-error *ngIf="form.get('sku')?.hasError('required')">SKU ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="EAN" formControlName="ean">
          <mat-label>EAN</mat-label>
          <mat-error *ngIf="form.get('ean')?.hasError('required')">EAN ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Verfügbarkeit</mat-label>
        <mat-select formControlName="availability">
          <mat-option [value]="'1'"> Verfügbar </mat-option>
          <mat-option  [value]="'0'"> Nicht Verfügbar </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('availability')?.hasError('required')">Verfügbarkeit ist erforderlich</mat-error>
      </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field>
          <input type="number" matInput placeholder="Gewicht" formControlName="weight">
          <mat-label>Gewicht</mat-label>
          <mat-error *ngIf="form.get('weight')?.hasError('required')">Gewicht ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Abmessungen" formControlName="dimensions">
          <mat-label>Abmessungen</mat-label>
          <mat-error *ngIf="form.get('dimensions')?.hasError('required')">Abmessungen sind erforderlich</mat-error>
        </mat-form-field>

                <div  *ngIf="!form.get('images')?.getRawValue()">
                  <div class="imgAndButt" *ngIf="!bildProgres">
                    <div>
                      <input hidden (change)="onFileSelected($event)" #fileInput type="file">
                      <span class="file-name"*ngIf="file !== undefined" >{{file.name}}</span>
                      <mat-error *ngIf="!file">Bilder sind erforderlich</mat-error>
                    </div>
                    <div>
                      <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
                        <mat-icon>upload</mat-icon>
                        <span> Datei auswählen</span>
                      </button>
                    </div>
                  </div>
                      <div class="progress" *ngIf="saveImage$ | async as progress">
                        <mat-progress-bar class="progress-bar" mode="determinate"
                        [value]="progress.message" >
                        </mat-progress-bar>
                     </div>
                  </div>

              <div class="imgAndButt" *ngIf="form.get('images')?.getRawValue()">
                <div>
                <mat-form-field>
                  <mat-label>Image Link</mat-label>
                  <input type="text" matInput  formControlName="images">
                </mat-form-field>
                </div>
                <div>
                  <button mat-raised-button color="primary" (click)="bildReset()"> Reset</button>
                </div>
            </div>
      </div>
      <div class="form-row">
        <mat-form-field>
          <input matInput placeholder="Verwandte Produkte" formControlName="relatedProducts">
          <mat-label>Verwandte Produkte</mat-label>
          <mat-error *ngIf="form.get('relatedProducts')?.hasError('required')">Verwandte Produkte sind erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bewertungen leer" formControlName="reviews">
          <mat-label>Bewertungen leer</mat-label>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Bewertung 0" formControlName="rating">
          <mat-label>Bewertung 0</mat-label>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field>

          <mat-label>Kategorien</mat-label>
          <mat-select formControlName="categories">
            <mat-option *ngFor="let category of (categories$ | async)"  [value]="category.id == form.get('categories')?.getRawValue()?.id ? form.get('categories')?.getRawValue() : category">{{ category.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('categories')?.hasError('required')">Kategorie ist erforderlich</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="center">
    <span *ngIf="go$ |async"></span>
    <button mat-raised-button (click)="onCancel()">Abbrechen</button>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">{{ data ? 'Änderungen Speichern' : 'Speichern' }}</button>
  </div>
</form>
</div>
<ng-template #bildLoading>
  <div class="bildLoad">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>
