<form [formGroup]="kreditorForm" class="form">
  <div class="form-row">
    <mat-form-field class="form-field">
      <input matInput placeholder="Kreditorennummer" formControlName="kreditorennummer">
      <mat-error *ngIf="kreditorForm.controls['kreditorennummer'].errors?.['required']">Kreditorennummer ist erforderlich</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Kreditorenname" formControlName="kreditorenname">
      <mat-error *ngIf="kreditorForm.controls['kreditorenname'].errors?.['required']">Kreditorenname ist erforderlich</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Anschrift" formControlName="anschrift">
      <mat-error *ngIf="kreditorForm.controls['anschrift'].errors?.['required']">Anschrift ist erforderlich</mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="form-field">
      <input matInput placeholder="Telefonnummer" formControlName="telefonnummer">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Faxnummer" formControlName="faxnummer">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="E-Mail" formControlName="email" required>
      <mat-error *ngIf="kreditorForm.controls['email'].errors?.['email']">E-Mail ist ungültig</mat-error>
      <mat-error *ngIf="kreditorForm.controls['email'].errors?.['required']">E-Mail ist ungültig</mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="form-field">
      <input matInput placeholder="Bankname" formControlName="bankname">
      <mat-error *ngIf="kreditorForm.controls['bankname'].errors?.['required']">Bankname ist erforderlich</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="IBAN" formControlName="iban">
      <mat-error *ngIf="kreditorForm.controls['iban'].errors?.['required']">IBAN ist erforderlich</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="BIC" formControlName="bic">
      <mat-error *ngIf="kreditorForm.controls['bic'].errors?.['required']">BIC ist erforderlich</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Zahlungsbedingungen" formControlName="zahlungsbedingungen">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="form-field">
      <input matInput placeholder="Steuernummer" formControlName="steuernummer">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="UST-IDNR" formControlName="ust_idnr">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Land" formControlName="land">
    </mat-form-field>
  </div>
  <div class="form-actions">
    <button type="button" mat-raised-button color="primary" (click)="saveKreditor()" [disabled]="!kreditorForm.valid">Speichern</button>
    <button type="button" mat-raised-button (click)="cancel()">Abbrechen</button>
  </div>
  <div *ngIf="item$ | async"></div>
</form>

