.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.form-field {
  flex: 1 0 33%;
  margin: 0 16px;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: .4rem;
  margin-top: .4rem;
}
.form {

  margin: 1rem 1rem;
}
.mattab {
  display: flex;
  margin: .5rem 1rem;
}
