<div *ngIf="bestellungen$ | async as bestell; else loading">
<mat-table [dataSource]="bestell">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Bestellungs-ID</mat-header-cell>
    <mat-cell *matCellDef="let bestellung" (click)="showDetails(bestellung)" style="cursor: pointer;" > {{bestellung.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edate">
    <mat-header-cell *matHeaderCellDef> Einkaufsdatum </mat-header-cell>
    <mat-cell *matCellDef="let bestellung" (click)="showDetails(bestellung)" style="cursor: pointer;"> {{bestellung.einkaufs_datum | date: 'shortDate'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="bstatus">
    <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
    <mat-cell *matCellDef="let bestellung"> <mat-select [(ngModel)]="bestellung.bestellung_status" (selectionChange)="onStatusChange(bestellung)">
        <mat-option *ngFor="let item of bestellungStatus" [value]="item === bestellung.bestellung_status ? bestellung.bestellung_status : item">{{item}}</mat-option>
    </mat-select> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="bdate">
    <mat-header-cell *matHeaderCellDef>Bezahlt am </mat-header-cell>
    <mat-cell *matCellDef="let bestellung" (click)="showDetails(bestellung)" style="cursor: pointer;"> {{bestellung.bazahlt_am | date: 'shortDate'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Preis </mat-header-cell>
    <mat-cell *matCellDef="let bestellung" (click)="showDetails(bestellung)" style="cursor: pointer;"> {{bestellung.total_price}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="steuer">
    <mat-header-cell *matHeaderCellDef> Mehrwertsteuer </mat-header-cell>
    <mat-cell *matCellDef="let bestellung" (click)="showDetails(bestellung)" style="cursor: pointer;"> {{bestellung.steuer}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="brutto">
    <mat-header-cell *matHeaderCellDef> Preise Brutto </mat-header-cell>
    <mat-cell *matCellDef="let bestellung" (click)="showDetails(bestellung)" style="cursor: pointer;"> {{getBrutto(bestellung)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="vdate">
    <mat-header-cell *matHeaderCellDef> Versanddatum </mat-header-cell>
    <mat-cell *matCellDef="let bestellung" (click)="showDetails(bestellung)" style="cursor: pointer;"> {{bestellung.versand_datum | date: 'shortDate'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="details">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let bestellung">
      <button mat-button (click)="showDetails(bestellung.id)">Details</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="column"></mat-header-row>
  <mat-row *matRowDef="let row; columns: column" ></mat-row>
</mat-table>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
