@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '@angular/material/theming';
@include mat-core();

//@import "~@angular/material/_theming.scss";
html, body { height: 100%; width: 100%; margin: 0; padding: 0;}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #b9d6d2 50%, #eecac6 50% );
  width: 100%;
  }


$my-primary: mat-palette($mat-blue);
$my-accent: mat-palette($mat-teal, 300, 200, 400);
$my-warning: mat-palette($mat-red);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warning,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include angular-material-theme($my-theme);

.banner_container {
  height: 478px;
}
.banner {
  display: flex;
  max-width: 1024px;
  height: 478px;
  background-color: #dcdcd5;
  background-image: url("assets/baner.png");
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  padding: 0 0 !important;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 47px;
}

.men {
  display: flex;
  background-image: url("assets/pasekKolor.png");
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  //color: #e8c5ba;
  color: #398dbd;
  padding: 0 1rem;
  width: 100%;
  height: 50px;
}
.spacer {
  flex-grow: 1;
}

.category {
  display: flex;
  flex-wrap: wrap;
  background-color:  #f09d59;
  color: #eecac6;
  justify-content:flex-start;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 50px;
  gap: .5rem;
}
nav{
  display: flex;
  width: 100%;
}
.menu-toggle {
  display: none;
}
.searchpanel {
  display: flex;
  align-items: center;
  background-color:  #f09d59;
  height: 50px;

}
.mat-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #73b5cf;
}
.catitem {

  border-radius: .4rem;
  padding: .1rem .1rem;
  background-color: #73b5cf;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  #f09d59;
  width: 100%;
}

.input-row {
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin-top: .5rem;
}
.button-center-row {
  display: flex;
  justify-content: center;
  margin-top: .3rem;
  margin-bottom: .3rem;
}
.catReset {
  cursor: pointer;
}
.siteMenge {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}


