/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/_theming.scss";
html, body { height: 100%; width: 100%; margin: 0; padding: 0;}
body {  font-family: Roboto, "Helvetica Neue", sans-serif;  }

.banner_container {
  width: 100%;
  height: 478px;
  background: linear-gradient(to right, #b9d6d2 50%, #eecac6 50%);
}
.banner {
  display: flex;
  max-width: 1024px;
  height: 478px;
  background-color: #dcdcd5;
  background-image: url("assets/baner.png");
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  padding: 0 0 !important;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 47px;
}

.men {
  display: flex;
  background-image: url("assets/pasekKolor.png");
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  //color: #e8c5ba;
  color: #b9d6d2;
  padding: 0 1rem;
  width: 100%;
  height: 50px;
}
.spacer {
  flex-grow: 1;
}

.category {
  display: flex;
  background-color:  #d3cccc;
  color: #eecac6;
  justify-content:flex-start;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 50px;
}

 .mat-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #73b5cf;
}
.catitem {
  border: #eecac6 solid .2rem;
  border-radius: .4rem;
  padding: .2rem .2rem;
  background-color: #73b5cf;
}
