.menge {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.anonim {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.containerp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
.pbutton {
  width: 25rem;
}
